@use '../../styles/_variables.scss' as *;

.search-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  transform: translateY(+8px);
}

.search-bar {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex: 1;
  max-width: 900px;
  width: 100%;
  position: relative;

  input {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 5px 0 0 5px;
    border: none;
    font-size: 1.2rem;
    width: 100%;
    min-width: 0;
    outline: none;
    transition: all 0.3s ease;
  }

  &:focus-within {
    input {
      background-color: white;
    }
  }

  .search-btn {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: $main-color;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    flex-shrink: 0;

    &:hover {
      background-color: darken($main-color, 10%);
    }
  }
}

.clear-btn {
  position: absolute;
  right: 6.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.suggestions {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  list-style: none;
  padding: 0;
  z-index: 1000;
  overflow: hidden;

  li {
    padding: 0.8rem 1rem;
    cursor: pointer;
    font-size: 0.95rem;

    &:hover {
      background: #f5f5f5;
    }
  }
}

/* Tablet */
@media (max-width: 768px) {
  .search-bar {
    input {
      font-size: 1rem;
    }

    .search-btn {
      font-size: 1rem;
    }
  }
}

/* Mobile */
@media (max-width: 480px) {
  .search-bar {
    input {
      font-size: 0.9rem;
    }

    .clear-btn {
      font-size: 0.9rem;
      right: 5.5rem;
    }

    .search-btn {
      font-size: 0.9rem;
    }
  }
}